/* Size */
@import './sizes/base.css';
@import './sizes/sm.css';
@import './sizes/xs.css';

/* States */
@import './states/disabled.css';

/* Variants */
@import './variants/base.css';
@import './variants/error.css';
@import './variants/secondary.css';
@import './variants/submit.css';
@import './variants/warning.css';

/* Appereance */
@import './appereance.css';

/* Interactive */
@import './interactive.css';

.ce-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.ce-link .ce-link__caption {
  color: inherit;
}

.ce-link .ce-link__icon {
  color: inherit;
}
