.ce-button {
  --bg-color: rgba(var(--clr-zinc_700));
  --text-color: rgba(var(--clr-zinc_100));

  --bg-color_hover: rgba(var(--clr-zinc_600));
  --text-color_hover: rgba(var(--clr-zinc_50));

  --bg-color_active: rgba(var(--clr-zinc_500));
  --text-color_active: rgba(var(--clr-zinc_50));

  --outline-color_focus: rgba(var(--clr-zinc_50));
}

.ce-button[data-transparent] {
  --bg-color: rgba(var(--clr-zinc_50), 0.06);
  --text-color: rgba(var(--clr-zinc_100));

  --bg-color_hover: rgba(var(--clr-zinc_50), 0.12);
  --text-color_hover: rgba(var(--clr-zinc_50));

  --bg-color_active: rgba(var(--clr-zinc_50), 0.18);
  --text-color_active: rgba(var(--clr-zinc_50));

  --outline-color_focus: rgba(var(--clr-zinc_50));
}

.ce-button:not([data-fill]) {
  --bg-color: none;
  --text-color: rgba(var(--clr-zinc_50));

  --bg-color_hover: rgba(var(--clr-zinc_50), 0.06);
  --text-color_hover: rgba(var(--clr-zinc_50));

  --bg-color_active: rgba(var(--clr-zinc_50), 0.12);
  --text-color_active: rgba(var(--clr-zinc_50));

  --outline-color_focus: rgba(var(--clr-zinc_50));
}
