.ce-button[data-variant='error'] {
  --bg-color: rgba(var(--clr-red_700));
  --text-color: rgba(var(--clr-red_100));

  --bg-color_hover: rgba(var(--clr-red_600));
  --text-color_hover: rgba(var(--clr-red_50));

  --bg-color_active: rgba(var(--clr-red_500));
  --text-color_active: rgba(var(--clr-red_50));

  --outline-color_focus: rgba(var(--clr-red_50));
}

.ce-button[data-variant='error'][data-transparent] {
  --bg-color: rgba(var(--clr-red_400), 0.12);
  --text-color: rgba(var(--clr-red_400));

  --bg-color_hover: rgba(var(--clr-red_400), 0.18);
  --text-color_hover: rgba(var(--clr-red_300));

  --bg-color_active: rgba(var(--clr-red_400), 0.24);
  --text-color_active: rgba(var(--clr-red_50));

  --outline-color_focus: rgba(var(--clr-red_400));
}

.ce-button[data-variant='error']:not([data-fill]) {
  --bg-color: none;
  --text-color: rgba(var(--clr-red_400));

  --bg-color_hover: rgba(var(--clr-red_400), 0.08);
  --text-color_hover: rgba(var(--clr-red_300));

  --bg-color_active: rgba(var(--clr-red_400), 0.12);
  --text-color_active: rgba(var(--clr-red_200));

  --outline-color_focus: rgba(var(--clr-red_400));
}
