.ce-button[data-variant='secondary'] {
  --bg-color: rgba(var(--clr-sky_700));
  --text-color: rgba(var(--clr-sky_100));

  --bg-color_hover: rgba(var(--clr-sky_600));
  --text-color_hover: rgba(var(--clr-sky_50));

  --bg-color_active: rgba(var(--clr-sky_500));
  --text-color_active: rgba(var(--clr-sky_50));

  --outline-color_focus: rgba(var(--clr-sky_50));
}

.ce-button[data-variant='secondary'][data-transparent] {
  --bg-color: rgba(var(--clr-sky_400), 0.12);
  --text-color: rgba(var(--clr-sky_400));

  --bg-color_hover: rgba(var(--clr-sky_400), 0.18);
  --text-color_hover: rgba(var(--clr-sky_300));

  --bg-color_active: rgba(var(--clr-sky_400), 0.24);
  --text-color_active: rgba(var(--clr-sky_50));

  --outline-color_focus: rgba(var(--clr-sky_400));
}

.ce-button[data-variant='secondary']:not([data-fill]) {
  --bg-color: none;
  --text-color: rgba(var(--clr-sky_400));

  --bg-color_hover: rgba(var(--clr-sky_400), 0.08);
  --text-color_hover: rgba(var(--clr-sky_300));

  --bg-color_active: rgba(var(--clr-sky_400), 0.12);
  --text-color_active: rgba(var(--clr-sky_200));

  --outline-color_focus: rgba(var(--clr-sky_400));
}
