.ce-button[data-variant='warning'] {
  --bg-color: rgba(var(--clr-yellow_700));
  --text-color: rgba(var(--clr-yellow_100));

  --bg-color_hover: rgba(var(--clr-yellow_600));
  --text-color_hover: rgba(var(--clr-yellow_50));

  --bg-color_active: rgba(var(--clr-yellow_500));
  --text-color_active: rgba(var(--clr-yellow_50));

  --outline-color_focus: rgba(var(--clr-yellow_50));
}

.ce-button[data-variant='warning'][data-transparent] {
  --bg-color: rgba(var(--clr-yellow_400), 0.12);
  --text-color: rgba(var(--clr-yellow_400));

  --bg-color_hover: rgba(var(--clr-yellow_400), 0.18);
  --text-color_hover: rgba(var(--clr-yellow_300));

  --bg-color_active: rgba(var(--clr-yellow_400), 0.24);
  --text-color_active: rgba(var(--clr-yellow_50));

  --outline-color_focus: rgba(var(--clr-yellow_400));
}

.ce-button[data-variant='warning']:not([data-fill]) {
  --bg-color: none;
  --text-color: rgba(var(--clr-yellow_400));

  --bg-color_hover: rgba(var(--clr-yellow_400), 0.08);
  --text-color_hover: rgba(var(--clr-yellow_300));

  --bg-color_active: rgba(var(--clr-yellow_400), 0.12);
  --text-color_active: rgba(var(--clr-yellow_200));

  --outline-color_focus: rgba(var(--clr-yellow_400));
}
