/* Types */
@import './types/outlined.css';
@import './types/rounded.css';
@import './types/sharp.css';

/* Size */
@import './sizes/base.css';
@import './sizes/sm.css';
@import './sizes/xs.css';

/* Variants */
@import './variants/base.css';
@import './variants/error.css';
@import './variants/secondary.css';
@import './variants/submit.css';
@import './variants/warning.css';

/* Appereance */
@import './appereance.css';

.ce-icon {
  display: inline-block;
  direction: ltr;

  font-weight: normal;
  font-style: normal;

  line-height: 1;
  letter-spacing: normal;
  text-transform: none;

  white-space: nowrap;
  word-wrap: normal;

  -webkit-font-smoothing: antialiased;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
