.ce-link {
  --link-color: rgba(var(--clr-zinc_50), 1);
  --link-color_hover: rgba(var(--clr-zinc_50), 0.8);
  --link-color_active: rgba(var(--clr-zinc_50), 0.6);
  --link-color_focus: rgba(var(--clr-zinc_50), 0.8);
  --link-color_visited: rgba(var(--clr-zinc_50), 0);
}
