.ce-link[data-variant='error'] {
  --link-color: rgba(var(--clr-red_400), 1);
  --link-color_hover: rgba(var(--clr-red_400), 0.8);
  --link-color_active: rgba(var(--clr-red_400), 0.6);
  --link-color_focus: rgba(var(--clr-red_400), 0.8);
  --link-color_visited: rgba(var(--clr-red_400), 0);
}
