.ce-link[data-variant='warning'] {
  --link-color: rgba(var(--clr-yellow_400), 1);
  --link-color_hover: rgba(var(--clr-yellow_400), 0.8);
  --link-color_active: rgba(var(--clr-yellow_400), 0.6);
  --link-color_focus: rgba(var(--clr-yellow_400), 0.8);
  --link-color_visited: rgba(var(--clr-yellow_400), 0);
}
