html {
  --clr-slate_50: 248, 250, 252;
  --clr-slate_100: 241, 245, 249;
  --clr-slate_200: 226, 232, 240;
  --clr-slate_300: 203, 213, 225;
  --clr-slate_400: 148, 163, 184;
  --clr-slate_500: 100, 116, 139;
  --clr-slate_600: 71, 85, 105;
  --clr-slate_700: 51, 65, 85;
  --clr-slate_800: 30, 41, 59;
  --clr-slate_900: 15, 23, 42;
  --clr-slate_950: 2, 6, 23;
  --clr-gray_50: 249, 250, 251;
  --clr-gray_100: 243, 244, 246;
  --clr-gray_200: 229, 231, 235;
  --clr-gray_300: 209, 213, 219;
  --clr-gray_400: 156, 163, 175;
  --clr-gray_500: 107, 114, 128;
  --clr-gray_600: 75, 85, 99;
  --clr-gray_700: 55, 65, 81;
  --clr-gray_800: 31, 41, 55;
  --clr-gray_900: 17, 24, 39;
  --clr-gray_950: 3, 7, 18;
  --clr-zinc_50: 250, 250, 250;
  --clr-zinc_100: 244, 244, 245;
  --clr-zinc_200: 228, 228, 231;
  --clr-zinc_300: 212, 212, 216;
  --clr-zinc_400: 161, 161, 170;
  --clr-zinc_500: 113, 113, 122;
  --clr-zinc_600: 82, 82, 91;
  --clr-zinc_700: 63, 63, 70;
  --clr-zinc_800: 39, 39, 42;
  --clr-zinc_900: 24, 24, 27;
  --clr-zinc_950: 9, 9, 11;
  --clr-neutral_50: 250, 250, 250;
  --clr-neutral_100: 245, 245, 245;
  --clr-neutral_200: 229, 229, 229;
  --clr-neutral_300: 212, 212, 212;
  --clr-neutral_400: 163, 163, 163;
  --clr-neutral_500: 115, 115, 115;
  --clr-neutral_600: 82, 82, 82;
  --clr-neutral_700: 64, 64, 64;
  --clr-neutral_800: 38, 38, 38;
  --clr-neutral_900: 23, 23, 23;
  --clr-neutral_950: 10, 10, 10;
  --clr-stone_50: 250, 250, 249;
  --clr-stone_100: 245, 245, 244;
  --clr-stone_200: 231, 229, 228;
  --clr-stone_300: 214, 211, 209;
  --clr-stone_400: 168, 162, 158;
  --clr-stone_500: 120, 113, 108;
  --clr-stone_600: 87, 83, 78;
  --clr-stone_700: 68, 64, 60;
  --clr-stone_800: 41, 37, 36;
  --clr-stone_900: 28, 25, 23;
  --clr-stone_950: 12, 10, 9;
  --clr-red_50: 254, 242, 242;
  --clr-red_100: 254, 226, 226;
  --clr-red_200: 254, 202, 202;
  --clr-red_300: 252, 165, 165;
  --clr-red_400: 248, 113, 113;
  --clr-red_500: 239, 68, 68;
  --clr-red_600: 220, 38, 38;
  --clr-red_700: 185, 28, 28;
  --clr-red_800: 153, 27, 27;
  --clr-red_900: 127, 29, 29;
  --clr-red_950: 69, 10, 10;
  --clr-orange_50: 255, 247, 237;
  --clr-orange_100: 255, 237, 213;
  --clr-orange_200: 254, 215, 170;
  --clr-orange_300: 253, 186, 116;
  --clr-orange_400: 251, 146, 60;
  --clr-orange_500: 249, 115, 22;
  --clr-orange_600: 234, 88, 12;
  --clr-orange_700: 194, 65, 12;
  --clr-orange_800: 154, 52, 18;
  --clr-orange_900: 124, 45, 18;
  --clr-orange_950: 67, 20, 7;
  --clr-amber_50: 255, 251, 235;
  --clr-amber_100: 254, 243, 199;
  --clr-amber_200: 253, 230, 138;
  --clr-amber_300: 252, 211, 77;
  --clr-amber_400: 251, 191, 36;
  --clr-amber_500: 245, 158, 11;
  --clr-amber_600: 217, 119, 6;
  --clr-amber_700: 180, 83, 9;
  --clr-amber_800: 146, 64, 14;
  --clr-amber_900: 120, 53, 15;
  --clr-amber_950: 69, 26, 3;
  --clr-yellow_50: 254, 252, 232;
  --clr-yellow_100: 254, 249, 195;
  --clr-yellow_200: 254, 240, 138;
  --clr-yellow_300: 253, 224, 71;
  --clr-yellow_400: 250, 204, 21;
  --clr-yellow_500: 234, 179, 8;
  --clr-yellow_600: 202, 138, 4;
  --clr-yellow_700: 161, 98, 7;
  --clr-yellow_800: 133, 77, 14;
  --clr-yellow_900: 113, 63, 18;
  --clr-yellow_950: 66, 32, 6;
  --clr-lime_50: 247, 254, 231;
  --clr-lime_100: 236, 252, 203;
  --clr-lime_200: 217, 249, 157;
  --clr-lime_300: 190, 242, 100;
  --clr-lime_400: 163, 230, 53;
  --clr-lime_500: 132, 204, 22;
  --clr-lime_600: 101, 163, 13;
  --clr-lime_700: 77, 124, 15;
  --clr-lime_800: 63, 98, 18;
  --clr-lime_900: 54, 83, 20;
  --clr-lime_950: 26, 46, 5;
  --clr-green_50: 240, 253, 244;
  --clr-green_100: 220, 252, 231;
  --clr-green_200: 187, 247, 208;
  --clr-green_300: 134, 239, 172;
  --clr-green_400: 74, 222, 128;
  --clr-green_500: 34, 197, 94;
  --clr-green_600: 22, 163, 74;
  --clr-green_700: 21, 128, 61;
  --clr-green_800: 22, 101, 52;
  --clr-green_900: 20, 83, 45;
  --clr-green_950: 5, 46, 22;
  --clr-emerald_50: 236, 253, 245;
  --clr-emerald_100: 209, 250, 229;
  --clr-emerald_200: 167, 243, 208;
  --clr-emerald_300: 110, 231, 183;
  --clr-emerald_400: 52, 211, 153;
  --clr-emerald_500: 16, 185, 129;
  --clr-emerald_600: 5, 150, 105;
  --clr-emerald_700: 4, 120, 87;
  --clr-emerald_800: 6, 95, 70;
  --clr-emerald_900: 6, 78, 59;
  --clr-emerald_950: 2, 44, 34;
  --clr-teal_50: 240, 253, 250;
  --clr-teal_100: 204, 251, 241;
  --clr-teal_200: 153, 246, 228;
  --clr-teal_300: 94, 234, 212;
  --clr-teal_400: 45, 212, 191;
  --clr-teal_500: 20, 184, 166;
  --clr-teal_600: 13, 148, 136;
  --clr-teal_700: 15, 118, 110;
  --clr-teal_800: 17, 94, 89;
  --clr-teal_900: 19, 78, 74;
  --clr-teal_950: 4, 47, 46;
  --clr-cyan_50: 236, 254, 255;
  --clr-cyan_100: 207, 250, 254;
  --clr-cyan_200: 165, 243, 252;
  --clr-cyan_300: 103, 232, 249;
  --clr-cyan_400: 34, 211, 238;
  --clr-cyan_500: 6, 182, 212;
  --clr-cyan_600: 8, 145, 178;
  --clr-cyan_700: 14, 116, 144;
  --clr-cyan_800: 21, 94, 117;
  --clr-cyan_900: 22, 78, 99;
  --clr-cyan_950: 8, 51, 68;
  --clr-sky_50: 240, 249, 255;
  --clr-sky_100: 224, 242, 254;
  --clr-sky_200: 186, 230, 253;
  --clr-sky_300: 125, 211, 252;
  --clr-sky_400: 56, 189, 248;
  --clr-sky_500: 14, 165, 233;
  --clr-sky_600: 2, 132, 199;
  --clr-sky_700: 3, 105, 161;
  --clr-sky_800: 7, 89, 133;
  --clr-sky_900: 12, 74, 110;
  --clr-sky_950: 8, 47, 73;
  --clr-blue_50: 239, 246, 255;
  --clr-blue_100: 219, 234, 254;
  --clr-blue_200: 191, 219, 254;
  --clr-blue_300: 147, 197, 253;
  --clr-blue_400: 96, 165, 250;
  --clr-blue_500: 59, 130, 246;
  --clr-blue_600: 37, 99, 235;
  --clr-blue_700: 29, 78, 216;
  --clr-blue_800: 30, 64, 175;
  --clr-blue_900: 30, 58, 138;
  --clr-blue_950: 23, 37, 84;
  --clr-indigo_50: 238, 242, 255;
  --clr-indigo_100: 224, 231, 255;
  --clr-indigo_200: 199, 210, 254;
  --clr-indigo_300: 165, 180, 252;
  --clr-indigo_400: 129, 140, 248;
  --clr-indigo_500: 99, 102, 241;
  --clr-indigo_600: 79, 70, 229;
  --clr-indigo_700: 67, 56, 202;
  --clr-indigo_800: 55, 48, 163;
  --clr-indigo_900: 49, 46, 129;
  --clr-indigo_950: 30, 27, 75;
  --clr-violet_50: 245, 243, 255;
  --clr-violet_100: 237, 233, 254;
  --clr-violet_200: 221, 214, 254;
  --clr-violet_300: 196, 181, 253;
  --clr-violet_400: 167, 139, 250;
  --clr-violet_500: 139, 92, 246;
  --clr-violet_600: 124, 58, 237;
  --clr-violet_700: 109, 40, 217;
  --clr-violet_800: 91, 33, 182;
  --clr-violet_900: 76, 29, 149;
  --clr-violet_950: 46, 16, 101;
  --clr-purple_50: 250, 245, 255;
  --clr-purple_100: 243, 232, 255;
  --clr-purple_200: 233, 213, 255;
  --clr-purple_300: 216, 180, 254;
  --clr-purple_400: 192, 132, 252;
  --clr-purple_500: 168, 85, 247;
  --clr-purple_600: 147, 51, 234;
  --clr-purple_700: 126, 34, 206;
  --clr-purple_800: 107, 33, 168;
  --clr-purple_900: 88, 28, 135;
  --clr-purple_950: 59, 7, 100;
  --clr-fuchsia_50: 253, 244, 255;
  --clr-fuchsia_100: 250, 232, 255;
  --clr-fuchsia_200: 245, 208, 254;
  --clr-fuchsia_300: 240, 171, 252;
  --clr-fuchsia_400: 232, 121, 249;
  --clr-fuchsia_500: 217, 70, 239;
  --clr-fuchsia_600: 192, 38, 211;
  --clr-fuchsia_700: 162, 28, 175;
  --clr-fuchsia_800: 134, 25, 143;
  --clr-fuchsia_900: 112, 26, 117;
  --clr-fuchsia_950: 74, 4, 78;
  --clr-pink_50: 253, 242, 248;
  --clr-pink_100: 252, 231, 243;
  --clr-pink_200: 251, 207, 232;
  --clr-pink_300: 249, 168, 212;
  --clr-pink_400: 244, 114, 182;
  --clr-pink_500: 236, 72, 153;
  --clr-pink_600: 219, 39, 119;
  --clr-pink_700: 190, 24, 93;
  --clr-pink_800: 157, 23, 77;
  --clr-pink_900: 131, 24, 67;
  --clr-pink_950: 80, 7, 36;
  --clr-rose_50: 255, 241, 242;
  --clr-rose_100: 255, 228, 230;
  --clr-rose_200: 254, 205, 211;
  --clr-rose_300: 253, 164, 175;
  --clr-rose_400: 251, 113, 133;
  --clr-rose_500: 244, 63, 94;
  --clr-rose_600: 225, 29, 72;
  --clr-rose_700: 190, 18, 60;
  --clr-rose_800: 159, 18, 57;
  --clr-rose_900: 136, 19, 55;
  --clr-rose_950: 76, 5, 25;
}
