.ce-input[data-variant='submit'] {
  --bg-color: rgba(var(--clr-emerald_900));
  --text-color: rgba(var(--clr-emerald_50));
  --bordered-color: rgb(var(--clr-emerald_700));
}

.ce-input[data-variant='submit'] .ce-input__field::placeholder {
  --placeholder-color: rgba(var(--clr-emerald_50), 0.4);
}

.ce-input[data-variant='submit'] > .ce-input__icon {
  --icon-color: rgba(var(--clr-emerald_50), 0.4);
}

.ce-input[data-variant='submit']:hover {
  --bg-color_hover: rgba(var(--clr-emerald_800), 0.4);
  --bordered-color_hover: rgba(var(--clr-emerald_600));
}
.ce-input[data-variant='submit']:focus-within {
  --bg-color_focus: rgba(var(--clr-emerald_950), 0.24);
  --bordered-color_focus: rgba(var(--clr-emerald_500));
}

/* Darkened */
.ce-input[data-variant='submit'][data-darkened] {
  --bg-color_darkened: rgba(var(--clr-emerald_950));
  --text-color_darkened: rgba(var(--clr-emerald_50));
}

.ce-input[data-variant='submit'][data-darkened] .ce-input__field::placeholder {
  --placeholder-color_darkened: rgba(var(--clr-emerald_50), 0.4);
}

.ce-input[data-variant='submit'][data-darkened] > .ce-input__icon {
  --icon-color_darkened: rgba(var(--clr-emerald_50), 0.4);
}

.ce-input[data-variant='submit'][data-darkened]:hover {
  --bg-color_darkened_hover: rgba(var(--clr-emerald_800), 0.24);
  --bordered-color_darkened_hover: rgb(var(--clr-emerald_600));
}
.ce-input[data-variant='submit'][data-darkened]:focus-within {
  --bg-color_darkened_focus: rgba(var(--clr-emerald_800), 0.6);
  --bordered-color_darkened_focus: rgb(var(--clr-emerald_500));
}
