@import './sidebar.css';
@import './header.css';
@import './project.css';
@import './announcement.css';
@import './trending.css';

/* App */
#app {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* Sidebar */
#app .app__sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

/* Main */
#app .app__main {
  width: 100%;
  max-width: 1120px;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  margin: 0 auto;
}

/* Block */
.main__block .block__title:not(:last-child) {
  margin-bottom: 8px;
}

.main__block .block__title {
  color: rgba(var(--clr-zinc_50), 0.4);
  font: var(--fnt-roboto_black_sm);
  text-transform: uppercase;
}

/* Block Container */
.main__block-container {
  display: grid;
  grid:
    'projects announcements' min-content
    'projects trendings' min-content
    'projects ...' / 1fr 320px;
  gap: 16px;
}

.main__block.main__block_projects {
  grid-area: projects;
}
.main__block.main__block_announcements {
  grid-area: announcements;
}
.main__block.main__block_trendings {
  grid-area: trendings;
}

/* Projects List */
.main__block.main__block_projects .block__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 8px;
}

/* Anouncements and Trendings List */
.main__block.main__block_announcements .block__list,
.main__block.main__block_trendings .block__list {
  display: grid;
  gap: 4px;
}

/* Responsive */
@media screen and not (min-width: 1008px) {
  #app {
    grid-template-columns: 1fr;
  }

  #app .app__sidebar {
    position: fixed;
  }

  #app .app__main {
    width: calc(100% - 88px);
    margin-left: 88px;
  }
}

@media screen and not (min-width: 776px) {
  .main__block-container {
    grid:
      'trendings' min-content
      'announcements' min-content
      'projects' min-content;
  }

  .main__block.main__block_announcements .block__list,
  .main__block.main__block_trendings .block__list {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 4px;
  }
}

@media screen and not (min-width: 670px) {
  .main__block.main__block_header .header__container:last-child {
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 16px;
  }

  .main__block.main__block_header .header__container:last-child .header__actions {
    margin-left: 0;
  }
}
