@import './sidebar.css';
@import './header.css';
@import './project.css';
@import './announcement.css';
@import './trending.css';

/* App */
#app {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* Sidebar */
#app .app__sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

/* Main */
#app .app__main {
  max-width: 1120px;
  display: grid;
  grid:
    'header header' min-content
    'projects announcements' min-content
    'projects trending' min-content
    'projects ...' / 1fr 320px;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  margin: 0 auto;
}

.app__main .main__block:nth-child(1) {
  grid-area: header;
}
.app__main .main__block:nth-child(2) {
  grid-area: projects;
}
.app__main .main__block:nth-child(3) {
  grid-area: announcements;
}
.app__main .main__block:nth-child(4) {
  grid-area: trending;
}

/* Blocks */
.main__block {
  align-items: start;
}

.main__block .block__title {
  color: rgba(var(--clr-zinc_50), 0.4);
  font: var(--fnt-roboto_black_sm);
  text-transform: uppercase;
}

.app__main .main__block:nth-child(3),
.app__main .main__block:nth-child(4) {
  display: grid;
  row-gap: 8px;
}

/* Block Projects */
.app__main .main__block:nth-child(2) .block__title {
  grid-area: 1 / 2 span;
}

.app__main .main__block:nth-child(2) {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 8px;
}
