@import './custom-elements/main.css';
@import './app.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: rgba(var(--clr-zinc_900));
  color: rgba(var(--clr-zinc_50));
  width: 100%;
  height: 100%;
}
